.task-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.task-input {
    width: 350px;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid wheat;
    outline: none;
}

/*Boton agregar tarea*/
.task-button {
    padding: 16px;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background: #00471c;
    text-transform: capitalize;
    color: #fff;

}