
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: whitesmoke;
    background-color: #1b1b32;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #1b1b32;
    font-size: 32px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px 0;
}

.task-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.freecodecamp-logo-container {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.freecodecamp-logo {
    width: 400px;
    height: 50px;
}
/* Lista de tareas*/
.task-list-main {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0d5;
    padding: 25px;
    margin: 10px;
    border-radius: 27px;
}



@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }

    .task-list-main {
        padding: 20px;
        margin: 15px;
    }

    .freecodecamp-logo {
        max-width: 300px;
    }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    .task-list-main {
        padding: 15px;
        margin: 10px;
    }

    .freecodecamp-logo {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .task-container {
        padding: 10px;
        font-size: 16px;
    }

    .task-input, .task-button {
        width: 100%; /* Que ambos ocupen todo el ancho en pantallas pequeñas */
        margin-bottom: 10px; /* Añade margen inferior entre el input y el botón */
        border-radius: 4px; /* Ajustar el borde en dispositivos pequeños */
    }

    .task-input {
        max-width: none; /* Remover el tamaño máximo para que se adapte al 100% */
        padding: 12px; /* Ajustar el padding */
    }

    .task-button {
        padding: 12px;
        font-size: 16px;
    }
}

/* Ajustes para dispositivos móviles */
@media (max-width: 480px) {
    .task-container {
        padding: 8px;
        font-size: 14px;
    }

    .task-input {
        font-size: 16px;
        padding: 10px;
    }

    .task-button {
        font-size: 14px;
        padding: 10px;
    }
}